body {
    background-color: #181818;
    font-family: 'Arial', sans-serif;
}

.empleados {
    background-color: rgb(240, 180, 75);
    color: black;

}

/********************************Tabla de Empleados********************************/


.Activos {
    padding: 5px 20px;  /*Establece los colores del estatus*/
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(34, 148, 56);
}

.Inactivos {
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(146, 43, 23);
}
#Info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/********************************Tabla de Empleados********************************/

/********************************Configuraciones para el responsive********************************/
/* Uso de @media para adaptar el contenido al hacerlo responsivo*/
@media (max-width: 992px) {

    .empleados {
        background-color: rgb(240, 180, 75);
        color: black;
    }

   
    .Activos {
        padding: 5px 5px;  /*Establece los colores del estatus*/
        border-radius: 10px;
        font-size: 10px;
        font-weight: bold;
        background-color: rgb(34, 148, 56);
    }
    
    .Inactivos {
        padding: 5px 5px;
        border-radius: 10px;
        font-size: 10px;
        font-weight: bold;
        background-color: red;
    }
}

